<link rel="stylesheet" href="[:app]/css/checkbox.css">
<style>
    .board .board-topleft { background-image: url([:app]/images/wuzi/topleft.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-top { background-image: url([:app]/images/wuzi/top.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-topright { background-image: url([:app]/images/wuzi/topright.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-left { background-image: url([:app]/images/wuzi/left.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-cross { background-image: url([:app]/images/wuzi/cross.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-right { background-image: url([:app]/images/wuzi/right.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-bottomleft { background-image: url([:app]/images/wuzi/bottomleft.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-bottom { background-image: url([:app]/images/wuzi/bottom.png); background-repeat: no-repeat; background-size: cover; }
    .board .board-bottomright { background-image: url([:app]/images/wuzi/bottomright.png); background-repeat: no-repeat; background-size: cover; }
</style>
<div id="match" v-if="board != null">
    <div class="board">
        <?php for ($i = 0; $i < 15; $i++) {
                if ($i == 0) {
                    $line = "top";
                } else if ($i == 14) {
                    $line = "bottom";
                } else {
                    $line = "";
                }
                $lef = $line . "left";
                $rig = $line . "right";
                $mid = empty($line) ? "cross" : $line;
        ?>
        <div class="board-row clear">
            <?php for ($j = 0; $j < 15; $j++) {
                    $A = ord('A');
                    if ($j == 0) {
                        $boardclass = "board-$lef";
                    } else if ($j == 14) {
                        $boardclass = "board-$rig";
                    } else {
                        $boardclass = "board-$mid";
                    }
                    $place = chr($A + $j) . $i;
                ?>
                <div place="{=$place}" class="board-node {=$boardclass}" v-bind:style="gridWidth">
                    <div class="piece"
                        v-bind:style="pieceWidth"
                        v-bind:class="{ 'white-piece': board.board.{=$place}.piece == 2, 'black-piece': board.board.{=$place}.piece == 1 }">
                        <div v-if="showIndex && (board.board.{=$place}.index != 0)">{{board.board.{=$place}.index}}</div>
                        <div v-if="!showIndex && (board.board.{=$place}.mark != 0)" style="color: red;" >▲</div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <?php } ?>
    </div>
    <div class="matchinfo clear">
        <div class="player clear player1 flex-wrap flex-row">
            <div class="flex-item black-piece"></div>
            <div class="flex-item player-face"><img v-bind:src="board.players.player1.face"></img></div>
            <div class="flex-item player-nick">{{board.players.player1.nick}}</div>
            <div class="flex-item player-tip p1 turn" v-if="board.players.player1.turn == 1">turn</div>
            <div class="flex-item player-tip p1 win" v-if="board.players.player1.win == 1">win</div>
        </div>
        <div class="player clear player2">
            <div class="white-piece"></div>
            <div class="flex-item player-face"><img v-bind:src="board.players.player2.face"></img></div>
            <div class="flex-item player-nick">{{board.players.player2.nick}}</div>
            <div class="flex-item player-tip p1 turn" v-if="board.players.player2.turn == 1">turn</div>
            <div class="flex-item player-tip p1 win" v-if="board.players.player2.win == 1">win</div>
        </div>
    </div>
    <div class="opreation">
        <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
            <label>
                <input type="checkbox" v-model="showIndex"/><span>显示步数</span>
            </label>
        </div>
    </div>
</div>
<script>
var g_matchid = <?php echo $match->id(); ?>;
</script>
